/* імпорт головного файлу */
@import url('./main.css');

/* головний контейнер */
.container{
  max-height: 100%;
  max-width: 500px;
}
/* блок хедер */
.header--card{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.header img{
  order: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.header--text{
  margin-top: 9rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  position: relative;
  color: #FFF5D2;
  order: 2;
}
.span--divider {
  font-weight: 100;
}
.header--description {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  position: relative;
  color: #ffffff;
  order:2;
}

/* блок інфо */
.info{
  position: relative;
  width: 100%;
  display: flex;
}
.info::before{
  content: '';
  background-image: url('../image/fon.jpg');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.18;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.info--card{
  margin: 6.25rem 1.25rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info--header{
  font-weight: bold;
  display: block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.info--subheader{
  text-align: center;
  display: block;
  font-size: 1.5rem;
}
.info--date{
  font-weight: bold;
  display: block;
  font-size: 2.5rem;
  font-family: 'scriptorama';
  margin-bottom: 3rem;
}
.info--start {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.info--description{
  text-align: center;
  font-size: 1.5rem;
}
/* контейнер фото 1 */
.photo_1-img img{
  width: 100%;
  display: block;
  object-fit: cover;
}