/* імпорт головного файлу */
@import url('./main.css');

/* основні кольори
#7c5f3e - світло-коричневий
#352716 - темно-коричневий
#17110d - темний
#d2bfbf - рожевий
*/

/* головний контейнер */
.container{
  margin: 0 auto;
  max-height: 100%;
  max-width: 480px;
}

/* ------------------------------------------------------------ */

/* блок хедер */
.header--card{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.header img{
  order: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.header--text{
  margin-top: 9rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  position: relative;
  color: #FFF5D2;
  order: 2;
}
.span--divider {
  font-weight: 100;
}
.header--description {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  position: relative;
  color: #ffffff;
  order:2;
}

/* ---------------------------------------------------- */

/* блок інфо */
.info{
  position: relative;
  width: 100%;
  display: flex;
}
.info::before{
  content: '';
  background-image: url('../image/fon.jpg');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.18;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.info--card{
  margin: 6.25rem 1.25rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info--header{
  font-weight: bold;
  display: block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.info--subheader{
  text-align: center;
  display: block;
  font-size: 1.5rem;
}
.info--date{
  font-weight: bold;
  display: block;
  font-size: 2.5rem;
  font-family: 'scriptorama';
  margin-bottom: 3rem;
}
.info--start {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.info--description{
  text-align: center;
  font-size: 1.5rem;
}

/* ---------------------------------------------------- */

/* контейнер фото 1 */
.photo_1-img img{
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ---------------------------------------------------- */

/* контейнер деталей */
.details {
  color:#17110d;
}
.details--card {
  padding: 0 0 90px 0;
  background-color: #d2bfbf;
}
.details--image {
  padding: 80px 0 0;
  margin: 0 auto;
  display: flex;
  width: 5rem;
}
.details--image img{
  filter: brightness(0) saturate(100%) invert(7%) sepia(12%) saturate(1038%) hue-rotate(341deg) brightness(96%) contrast(100%);
  width:100%;
}
.details--block {
  text-align: center;
  margin: 0 0 20px 15px;
  padding: 15px;
}
.details--header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 0 10px 0;
}
.details--description {
  font-size: 1.3rem;
  margin: 0 0 5px 0;
}
.details--start {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}
.details--button {
  position: relative;
  margin: 0 auto;
  color: #17110d;
  justify-content: center;
  background-color: #cdb7b7;
  font-size: 1.5rem;
  display: flex;
  border: 1px solid black;
  width: 17rem;
}
.btn {
  margin: 10px;
}
.details--button:active {
  transform: scale(0.95);
}
.details--button::before{
  content: "";
  top: 7px;
  left: 7px;
  border: 1px solid black;
  position: absolute;
  width: 100%;
  height: 110%;
}

/* --------------------------------------------------- */

/* контейнер таймера*/
/* фон для таймера */
.timer--overlay{
  background-image: url('../image/timer-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* розмивка для фону */
.timer--fon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(98, 98, 98, .5);
}
/* контейнер для таймера та тексту */
.timer--content{
  padding: 54px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* контейнер для таймера */
.timer--dispalay{
  width: 100%;
  font-family: "aire";
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  color: white;
  opacity: .9;
}
/* карточка одного цифрового показника */
.timer--item{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* підпис до цифр */
label {
  color: white;
  opacity: .9;
  font-size: 20px;
  font-family: 'Forum', cursive;;
}
/* текст під таймером */
.timer--text{
  opacity: .9;
  font-size: 28px;
  color: #ffffff;
  font-family: 'scriptorama';
}