/* підключення шрифтів */
/* підключення шрифтів google */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
/* неймінг гугл шрифтів */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Edu NSW ACT Foundation', cursive; */
/* font-family: 'Forum', cursive; */
/* підключення локального шрифту */
@font-face {
  font-family: 'scriptorama';
  src: url(../fonts/scriptorama.eot);
  src: url(../fonts/scriptorama.eot?#iefix) format('embedded-opentype'),
       url(../fonts/scriptorama.otf) format('otf'),
       url(../fonts/scriptorama.svg#scriptorama) format('svg'),
       url(../fonts/scriptorama.ttf) format('truetype'),
       url(../fonts/scriptorama.woff) format('woff'),
       url(../fonts/scriptorama.woff2) format('woff2');
}
@font-face {
  font-family: 'aire';
  src: url(../fonts/Aire.eot);
  src: url(../fonts/Aire.eot?#iefix) format('embedded-opentype'),
       url(../fonts/Aire.otf) format('otf'),
       url(../fonts/Aire.svg#Aire%20Bold%20Pro) format('svg'),
       url(../fonts/Aire.ttf) format('truetype'),
       url(../fonts/Aire.woff) format('woff'),
       url(../fonts/Aire.woff2) format('woff2');
}
/* ----------------------------------------------------------------------- */

/* мінімальне скидання властивостей сторінки */
* , *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol, li{
  list-style: none;
}
img {
  object-fit: contain;
  vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
  text-align: center;
  font-weight: inherit;
  font-size: inherit;
}
html,body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #17110d;
}
/* зміна розміру шрифту при ширині екрану 400 пс */
@media (min-width:400px) {
  html,body{
    font-size: 16px;
  }
}
/* зміна розміру шрифту на головній картинці вверху при ширині екрану меншому ніж 350 пс */
@media (max-width:350px) {
  body .header--description {
    font-size: 2.4rem;
  }
}
/* --------------------------------------------------- */

/* --- базові налаштування сторінки --- */
