/* імпорт головного файлу */
@import url('./main.css');

/* основні кольори
#7c5f3e - світло-коричневий
#352716 - темно-коричневий
#17110d - темний
#d2bfbf - рожевий
*/
/* головний контейнер */
.container{
  margin: 0 auto;
  max-height: 100%;
  max-width: 480px;
}

/* ------------------------------------------------------------ */

/* блок хедер */
.header--card{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.header img{
  order: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
}
.header--text{
  margin-top: 9rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 7.2rem;
  position: relative;
  color: #FFF5D2;
  order: 2;
}
.span--divider {
  font-weight: 100;
}
.header--description {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  position: relative;
  color: #ffffff;
  order:2;
}

/* ---------------------------------------------------- */

/* блок інфо */
.info{
  position: relative;
  width: 100%;
  display: flex;
}
.info::before{
  content: '';
  background-image: url('../image/fon.webp');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.18;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.info--card{
  margin: 6.25rem 1.25rem;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info--header{
  font-weight: bold;
  display: block;
  font-size: 1.8rem;
  /* margin-bottom: 0.1rem; */
}
.info--guest{
  position: relative;
  font-size: 2.5rem;
  font-family: 'scriptorama';
  margin-bottom: 0.5rem;
}
.info--guest::before{
  content: "";
  position: absolute;
  top: 85%;
  left: -50%;
  width: 18.75rem;
  background-color: black;
  height: 0.0625rem;
}
.info--subheader{
  text-align: center;
  display: block;
  font-size: 1.3rem;
}
.info--date{
  font-weight: bold;
  display: block;
  font-size: 2.5rem;
  font-family: 'scriptorama';
  margin-bottom: 3rem;
}
.info--start {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.info--description{
  text-align: center;
  font-size: 1.3rem;
}

/* ---------------------------------------------------- */

/* контейнер фото 1 */
.photo_1-img img{
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ---------------------------------------------------- */

/* контейнер деталей */
.details {
  color:#17110d;
}
.details--card {
  padding: 0 0 5.625rem 0;
  background-color: #d2bfbf;
}
.details--image {
  padding: 5rem 0 0;
  margin: 0 auto;
  display: flex;
  width: 5rem;
}
.details--image img{
  filter: brightness(0) saturate(100%) invert(7%) sepia(12%) saturate(1038%) hue-rotate(341deg) brightness(96%) contrast(100%);
  width:100%;
}
.details--block {
  text-align: center;
  margin: 0 0 1.25rem 0.9375rem;
  padding: 0.9375rem;
}
.details--header {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0 0 0.625rem 0;
}
.details--description {
  font-size: 1.3rem;
  margin: 0 0 0.3125rem 0;
}
.details--start {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0 0 0.9rem 0;
}
.details--button {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  color: #17110d;
  justify-content: center;
  background-color: #cdb7b7;
  font-size: 1.3rem;
  display: flex;
  border: 1px solid black;
  width: 17rem;
}
.btn {
  margin: 0.625rem;
}
.details--button:active {
  transform: scale(0.95);
}
.details--button::before{
  z-index: 0;
  content: "";
  top: 0.4375rem;
  left: 0.4375rem;
  border: 1px solid black;
  position: absolute;
  width: 100%;
  height: 110%;
}

/* --------------------------------------------------- */

/* контейнер історії */
.history{
  padding: 5.625rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* контейнер картинки блоку історія*/
.history--image {
  width: 5rem;
  margin: 0 auto 1.5rem;
}
/* картинка на початку блоку історія */
.history--image img{
  width: 100%;
}
 /* заголовок історії */
.history--header{
  text-decoration: underline;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 7.5rem 0;
}
/* контейнер списку блоку історія */
.history--list{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
/* лінія посередині списку */
.history--list::before{
  content: "";
  top: 0;
  left: 50%;
  position: absolute;
  height: 100%;
  width: 0.0625rem;
  background-color: black;
}
/* властивості для непарних елементів списку */
.history--item:nth-child(odd){
  margin-left: 50%;
  padding-left: 2.9rem;
}
/* властивості для парних елементів списку */
.history--item:nth-child(2n){
  padding-right: 3.4rem;
  margin-left: 0;
}
/* властивості для всіх елементів списку */
.history--item {
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin-bottom: 5rem;
  transform: translateY(-50%);
}
/* лінія від елементу списку до середньої лінії */
.history--item::before {
  content: "";
  top: 50%;
  left: 0;
  position: absolute;
  height: 0.0625rem;
  width: 3rem;
  background-color: black;
}
/* властивості лінії для парних елементів до середньої лінії */
.history--item:nth-child(2n)::before{
  right: 0;
  left: auto;
}
/* властивості для контейнера елемента */
.history--content{
  display: flex;
  align-items: center;
}
/* властивості контейнера парних елементів */
.history--item:nth-child(2n) .history--content{
  text-align: right;
  flex-direction: row-reverse;
}
/* властивості для іконки сердечко списку елементів */
.history--icon{
  width: 1.5rem;
  position: relative;
  z-index: 1;
}
/* властивості для іконки сердчко непарних елементів */
.history--item:nth-child(odd) .history--icon{
  margin-right: .5rem;
}
/* властивості для іконки сердчко непарних елементів */
.history--item:nth-child(2n) .history--icon{
  margin-left: .5rem;
}
/* --------------------------------------------------- */

/* контейнер таймера*/
/* фон для таймера */
.timer--overlay{
  background-image: url('../image/timer-image.webp');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* розмивка для фону */
.timer--fon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(98, 98, 98, .5);
}
/* контейнер для таймера та тексту */
.timer--content{
  padding: 3.375rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* контейнер для таймера */
.timer--dispalay{
  width: 100%;
  font-family: "aire";
  font-size: 3.125rem;
  display: flex;
  justify-content: space-around;
  color: white;
  opacity: .9;}
/* цифри на таймері */
.digit {
  font-size: 3.125rem;
}
/* карточка одного цифрового показника */
.timer--item{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* підпис до цифр */
label {
  color: white;
  opacity: .9;
  font-size: 1.25rem;
  font-family: 'Forum', cursive;;
}
/* текст під таймером */
.timer--text{
  opacity: .9;
  font-size: 1.75rem;
  color: #ffffff;
  font-family: 'scriptorama';
}

/* -------------------------------------- */

/* контейнер запитань */
.questions--card{
  padding: 5.625rem 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questions--image{
  width: 5rem;
  margin-bottom: 0.625rem;
}
.questions--image img{
  width: 100%;
}
.questions--text {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.details--button.questions--button{
  background-color: white;
  margin-bottom: 4.875rem;
}
.details--button.questions--button:last-child{
  margin-bottom: 0;
}

/* ----------------------------------- */
/* блок телеграму */
.telegram--content{
  display: flex;
  align-items: center;
}
.telegram--image{
  width: 1.5625rem;
} 
.telegram--image img{
  width: 100%;
}
